<nz-layout class="layout">
  <nz-sider
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
    [nzCollapsedWidth]="0"
  >
    <div class="logo">Practice</div>
    <app-menu></app-menu>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <button nz-button nzType="text">
        <i
          class="trigger"
          nz-icon
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          (click)="isCollapsed = !isCollapsed"
        ></i>
      </button>
      <app-i18n></app-i18n>
    </nz-header>
    <nz-content>
      <ng-content></ng-content>
    </nz-content>
  </nz-layout>
</nz-layout>
