<ng-container *ngIf="problem">
    <!-- <nz-breadcrumb>
    <nz-breadcrumb-item>
      <i nz-icon nzType="home" [routerLink]="['/']"></i>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <span>{{ problem.id }}.</span>
      {{ "problem." + problem.id + ".title" | translate }}
    </nz-breadcrumb-item>
  </nz-breadcrumb> -->
    <div
        nz-row
        [nzAlign]="'middle'"
        [nzGutter]="32"
    >
        <div nz-col>
            <h1>
                <span>{{ problem.id }}.</span>
                {{ "problem." + problem.id + ".title" | translate }}
            </h1>
        </div>
        <app-difficulty
            col
            [difficulty]="problem.difficulty"
        ></app-difficulty>
    </div>

    <div
        nz-row
        class="content"
        [nzGutter]="32"
    >
        <div
            nz-col
            [nzSpan]="24"
            [nzSm]="12"
        >
            <app-leetcode-link [link]="problem.leetcode"></app-leetcode-link>
            <p class="description">
                {{ "problem." + problem.id + ".description" | translate }}
            </p>
            <nz-divider></nz-divider>

            <nz-radio-group
                [(ngModel)]="example"
                nzButtonStyle="solid"
                (ngModelChange)="onExampleChange($event)"
            >
                <label
                    nz-radio-button
                    *ngFor="let ex of problem.examples; let index = index"
                    [nzValue]="ex"
                >
                    {{ ("example" | translate) + (index + 1) }}
                </label>
                <label
                    nz-radio-button
                    [nzValue]="undefined"
                >
                    {{
          "customized" | translate
        }}
                </label>
            </nz-radio-group>
            <div *ngIf="!example">
                <textarea
                    rows="2"
                    nz-input
                    [(ngModel)]="inputValue"
                ></textarea>
                <button
                    nz-button
                    nzType="primary"
                    (click)="customize()"
                >
                    Submit
                </button>
            </div>

            <div
                *ngIf="!!example"
                class="example-block"
            >
                <div>
                    <strong>Input:</strong>
                    <span *ngFor="let params of example.input; let last = last">
                        {{ params | json }}{{ last ? "" : " ,  " }}
                    </span>
                </div>
                <div>
                    <strong>Output:</strong>
                    <span>{{ example.output | json }}</span>
                </div>
            </div>
            <nz-divider></nz-divider>

            <ng-template
                #graphic
                [graphic]="{ component: problem.component, data: example?.input }"
                (result$)="example!.output = $event"
            ></ng-template>
        </div>

        <div
            nz-col
            [nzSpan]="24"
            [nzSm]="12"
        >
            <nz-select
                [(ngModel)]="selected"
                class="lang-select"
                (ngModelChange)="onLangChang($event)"
            >
                <nz-option
                    *ngFor="let language of languages"
                    [nzValue]="language"
                    [nzLabel]="language"
                ></nz-option>
            </nz-select>
            <nz-code-editor
                class="editor"
                [nzFullControl]="true"
                [ngModel]="problem.solutions[selected]"
                [nzEditorOption]="editorOption"
                (nzEditorInitialized)="onEditorInit($event)"
            ></nz-code-editor>
        </div>
    </div>
</ng-container>
